/* Itau Text */

@font-face {
  font-family: 'ItauText2';
  src: url('ItauText-Light.woff2') format('woff2'), url('ItauText-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ItauText2';
  src: url('ItauText-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ItauText2';
  src: url('ItauText-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ItauText2';
  src: url('ItauText-XBold.woff2') format('woff2'), url('ItauText-XBold.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Itau Display */

@font-face {
  font-family: 'ItauDisplay2';
  src: url('ItauDisplay-Light.woff2') format('woff2'),
    url('ItauDisplay-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ItauDisplay2';
  src: url('ItauDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ItauDisplay2';
  src: url('ItauDisplay-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ItauDisplay2';
  src: url('ItauDisplay-XBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ItauDisplay2';
  src: url('ItauDisplay-Black.woff2') format('woff2'),
    url('ItauDisplay-Black.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ItauDisplay2';
  src: url('ItauDisplay-Black.woff2') format('woff2'),
    url('ItauDisplay-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}